/* @media only screen and (min-width: 800px) // taka powinna byc wersja dla mobilek moj telefon ma 792px szerokosci */
@media only screen and (min-width: 900px) {
	body {
		min-height: 100vh;
		justify-content: space-between;
	}
	header.main:first-child {
		visibility: hidden;
	}
	div.conteiner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1300px;
	}
	main.content {
		border-radius: 5px 5px 0px 0px;
		min-height: 65vh;
		padding: 50px 75px 20px;
		text-align: center;
	}
	div.conteiner > header.main {
		border-radius: 0px 0px 5px 5px;
		display: block;
	}
	.contact .fa {
		font-size: 1.8em;
	}
	
	.contact a {
		font-size: 1.3em;
	}

	.social-media {
		margin-top: 20px;
	}
	.bottomnav {
		justify-content: center;
	}
	.bottomnav a {
		width: 150px;
	}
	footer.main {
		background-color: transparent;
	}

}