:root {
	--background-color-primary: gray;
	--background-color-secondary: white;
	--background-color-gray: #ddd;
	--background-color-test: #aaa;
	--background-color-menu: #333;
	--text-link-color: #f2f2f2;
	--text-link-color-hover: black;

}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color-primary);
	font-family: Arial;
	padding: 10px;
}

/* Header/Blog Title */
.header {
	padding: 30px;
	text-align: center;
	background-color: var(--background-color-secondary);
}

.header h1 {
	font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
	display: flex;
	overflow: hidden;
	background-color: var(--background-color-menu);
}

/* Style the topnav links */
.topnav a {
	color: var(--text-link-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
	background-color: var(--background-color-gray);
	color: var(--text-link-color-hover);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	flex-grow: 8;
	flex-basis: 75%;
}

/* Right column */
.rightcolumn {
	flex-shrink: 0;
	flex-basis: 25%;
	padding-left: 20px;
}

/* Fake image */
.fakeimg {
	background-color: var(--background-color-test);
	width: 100%;
	padding: 20px;
}

/* real img*/
img.fakeimg {
	height: auto;
	padding: 0;
}

/* Add a card effect for articles */
.card {
	background-color: var(--background-color-secondary);
	padding: 20px;
	margin-top: 20px;
}

/* Clear floats after the columns */
.row {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background-color: var(--background-color-gray);
	margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

	.topnav,
	.row {
		flex-direction: column;
	}

	.leftcolumn,
	.rightcolumn {
		padding: 0;
	}
}