:root {
	--background-primary-color: #223247;
	--background-secondary-color: lightgrey;
	--background-gray: #4f4f4f;
	--background-darkblue: #1b2839;
	--background-gray-transparent: rgba(85, 85, 85, 0.6);
	--background-red-transparent: rgba(255, 0, 0, 0.6);
	--heading-primary-color: #111;
	--heading-secondary-color: black;
	--text-primary-color: #777;
	--text-secondary-color: rgba(255, 255, 255, 0.55);
	--text-lightgray-color: #d3d3d3;
	--text-darkgray-color: #444;
	--text-white-color: white;
	--link-color: blue;
	--background-color-menu: #4f4f4f;
	--shadow-box-color: rgba(0, 0, 0, 1);
}

body,
html {
	display: flex;
	height: 100vh;
	background-color: var(--background-primary-color);
	color: var(--text-primary-color);
	font: 400 15px/1.8 "Lato", sans-serif;
	justify-content: center;
}

h1 {
	color: var(--heading-primary-color);
	letter-spacing: 3px;
	text-decoration: underline;
	font: 32px "Lato", sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}

a.active {
	color: var(--heading-primary-color);
	background-color: var(--background-secondary-color);
	text-decoration: 2px underline;
	border-radius: 5px;
}

#content {
	max-width: 80%;
	flex-flow: column wrap;
	text-align: center;
	align-items: center;
	background-color: var(--background-secondary-color);
	margin: auto;
	padding: 25px 0;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 50px -8px var(--shadow-box-color);
	-moz-box-shadow: 0px 0px 50px -8px var(--shadow-box-color);
	box-shadow: 0px 0px 50px -8px var(--shadow-box-color);
}

.article {
	display: block;
	width: 65%;
	font-size: 16px;
	color: var(--text-darkgray-color);
	flex-flow: column wrap;
	min-height: 576px;
}

#content,
.social{
	display: flex;
}

.article a {
	color: var(--link-color);
	text-decoration: 1px underline;
	cursor: pointer;
}

.author {
	display: block;
	margin: auto;
	border-radius: 50%;
	height: 350px;
	width: 350px;
}

.social {
	margin: 7px 0;
}

.social a {
	color: var(--heading-secondary-color);
	margin: 2px 8px;
	padding: 2px;
	font-size: 33px;
	width: 55px;
	height: 55px;
	text-decoration: none;
}

.social a:hover {
	color: var(--text-lightgray-color);
	background-color: var(--background-darkblue);
	border-radius: 50%;
}

@media screen and (max-width: 1340px) {

	.article img {
    	height: auto;
    	width: 90%;
	}
}

@media screen and (max-width: 700px) {

	#content
	{
		margin: 0;
		width: 100%;
	}

	.author {
    	height: auto;
    	width: 100%;
	}
}