:root {
	--background-color-primary: gray;
	--background-color-secondary: rgb(255 255 255 / 84%);
	--background-color-gray: #ddd;
	--background-color-test: #aaa;
	--background-color-menu: #333;
	--text-link-color: #f2f2f2;
	--text-link-color-hover: black;

}

* {
	box-sizing: border-box;
}

body {
	align-items: center;
	background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.6435-9/74271986_2418525405067735_1892984244184023040_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=2be8e3&_nc_ohc=HIk0JBGdxxEAX9IXp6b&_nc_ht=scontent-waw1-1.xx&oh=00_AfDkXemWKQvR_XH-5lLyqfR2lOWXv_kwPt1aY5mXodWaQg&oe=65B2655C);
    background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	font-family: Arial;
	margin: 0;
}

h1 {
	font-size: 50px;
}

.main {
	background-color: var(--background-color-menu);
	color: var(--text-link-color);
	width: 100%;
	text-align: center;
}

header.main {
	position: sticky;
	top: 0;
}

.topnav,
.bottomnav {
	display: flex;
	justify-content: space-around;
}

.topnav a,
.bottomnav a {
	color: var(--text-link-color);
	text-decoration: none;
	padding: 14px 8px;
}

.topnav a:hover,
.bottomnav a:hover{
	background-color: var(--background-color-gray);
	color: var(--text-link-color-hover);
}

main.content {
	background-color: var(--background-color-secondary);
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	padding: 20px;
	text-align: justify;
	justify-content: space-between;
}

header.title {
    text-align: center;
}

.social-media {
    display: flex;
	justify-content: center;
}

.social-media a {
    text-decoration: none;
    color: #00686b;
    font-size: 38px;
    padding: 12px;
}

.social-media a:hover {
	color: #339aba;
}

div.conteiner > header.main {
    display: none;
}